<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="SearchServiceName" value="crawler-search" />
    <add key="SearchServiceAdminApiKey" value="EE6C70F8CC8B88CC9F6509AA4E18E725" />
    <add key="TextSearchIndexName" value="fulltext" />
    <add key="MetaSearchIndexName" value="fulltext" />
    <add key="CrawlerStorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=crawlerstoragedev;AccountKey=bBRGgpR0FU0TpH45Mf6EWILX+6IW2yczK+eb5Ys6F/yALhDGwnO5iYT/rf2r18Btj9OMiUEKO89Gn3FREus4ew==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>