<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SearchServiceName" value="dec-search" />
    <add key="SearchServiceAdminApiKey" value="ED2ACE6B9E10483CDA601F68B4136DCF" />
    <add key="SearchServiceQueryApiKey" value="225151832C3BFC0902F79F8FF001953E" />
    <add key="SearchIndexName" value="blobs" />
    <add key="BlobStorageAccountName" value="indexing" />
    <add key="BlobStorageAccountKey" value="566Nz2py6Pir6p+JRcQ5QveAJf6Yv/MwZgHSVpi4vLL4QJyXiC3AujSwU47117b9KRFFlMd/NLhJpNuVjxCCYg==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>