<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SearchServiceName" value="dec-search" />
    <add key="SearchServiceAdminApiKey" value="ED2ACE6B9E10483CDA601F68B4136DCF" />
    <add key="TextSearchIndexName" value="blobs" />
    <add key="MetaSearchIndexName" value="metadata" />
    <add key="CrawlerStorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=crawlerstoragedev;AccountKey=bBRGgpR0FU0TpH45Mf6EWILX+6IW2yczK+eb5Ys6F/yALhDGwnO5iYT/rf2r18Btj9OMiUEKO89Gn3FREus4ew==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>