// <copyright file="DefaultApiController.cs" company="DECTech.Tokyo">
// Copyright (c) DECTech.Tokyo. All rights reserved.
// </copyright>

/*
 * Crawler API
 *
 * API for crawling web pages and searching in crowled result
 *
 * OpenAPI spec version: 1.0.0
 * Contact: zakhar_amirov@dectech.tokyo
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

namespace CrawlerApi.Controllers
{
    using System;
    using System.Collections.Async;
    using System.Collections.Generic;
    using System.IO;
    using System.Linq;
    using System.Net.Mime;
    using System.Threading.Tasks;
    using Azure.Storage;
    using CrawlerLib;
    using CrawlerLib.Data;
    using Microsoft.AspNetCore.Mvc;
    using Models;
    using Swashbuckle.SwaggerGen.Annotations;
    using SessionState = Models.SessionState;

    /// <summary>
    /// Main API controller
    /// </summary>
    public sealed class DefaultApiController : Controller
    {
        private readonly ICrawlerStorage crawlerStorage;
        private readonly IDataStorage storage;

        /// <summary>
        /// Initializes a new instance of the <see cref="DefaultApiController" /> class.
        /// </summary>
        /// <param name="storage">Azure storage helper class.</param>
        /// <param name="crawlerStorage">Crawler storage.</param>
        public DefaultApiController(IDataStorage storage, ICrawlerStorage crawlerStorage)
        {
            this.storage = storage;
            this.crawlerStorage = crawlerStorage;
        }

        /// <summary>adds or replaces metadata parsing parameters</summary>
        /// <param name="parserParameters">Parameters.</param>
        /// <response code="200">parser added</response>
        /// <response code="400">invalid parameters</response>
        /// <returns>A <see cref="Task" /> representing the asynchronous operation.</returns>
        [HttpPost]
        [Route("/CrawlerApi/1.0.0/parser")]
        [SwaggerOperation("AddParser")]
        [SwaggerResponse(200)]
        public async Task AddParser([FromBody] ParserParameters parserParameters)
        {
            await storage.InsertOrReplaceAsync(parserParameters);
        }

        /// <summary>get list of crawling sessions information by list of ids</summary>
        /// <param name="param">sessions request</param>
        /// <response code="200">list of selected sessions information</response>
        /// <response code="400">wrong parameters</response>
        /// <returns>Pagination with collection of sessions info.</returns>
        [HttpGet]
        [Route("/CrawlerApi/1.0.0/incite")]
        [SwaggerOperation("GetIncites")]
        [SwaggerResponse(200, type: typeof(Paged<Session>))]
        public async Task<IActionResult> GetIncites([FromBody] SessionsRequestParameters param)
        {
            var page = await crawlerStorage.GetSessions(
                           param.OwnerId,
                           param.SessionIds,
                           param.Page.PageSize ?? 10,
                           param.Page.RequestId);
            var sessionsTasks = page.Select(async sess =>
            {
                var urls = await crawlerStorage.GetSessionUris(sess.Id).ToListAsync();
                var sessionUris = urls.Select(u => new SessionUri(u.Uri, HttpStateToSessionState(u.State)));
                return new Session(sess.Id, sessionUris.ToList(), ToSessionState(sess.State));
            });

            var sessions = await Task.WhenAll(sessionsTasks);

            var pagination = new Paged<Session>(sessions, page.RequestId);

            return new ObjectResult(pagination);
        }

        /// <summary>download crawled page</summary>
        /// <param name="param">Parameters</param>
        /// <response code="200">responce with page content</response>
        /// <response code="400">invalid input</response>
        /// <returns>Page content.</returns>
        [HttpGet]
        [Route("/CrawlerApi/1.0.0/page")]
        [SwaggerOperation("GetPage")]
        [SwaggerResponse(200, type: typeof(byte[]))]
        public async Task<IActionResult> GetPage([FromBody] GetPageParameters param)
        {
            var stream = new MemoryStream(); // TODO remove it rewriting to Response.
            await crawlerStorage.GetUriContet(param.OwnerId, param.Uri, stream);
            return new FileStreamResult(stream, MediaTypeNames.Application.Octet);
        }

        /// <summary>get metadata parsing parameters set</summary>
        /// <param name="param">Parameters</param>
        /// <response code="200">parsers collection</response>
        /// <response code="400">invalid parameters</response>
        /// <returns>Collection of parsers settings.</returns>
        [HttpGet]
        [Route("/CrawlerApi/1.0.0/parser")]
        [SwaggerOperation("GetParsers")]
        [SwaggerResponse(200, type: typeof(IList<ParserParameters>))]
        public async Task<IActionResult> GetParsers([FromBody] ParsersRequestParameters param)
        {
            var result = new List<ParserParameters>();

            foreach (var id in param.ParserIds)
            {
                var pp = await storage.RetreiveAsync(new ParserParameters(param.OwnerId, id));
                result.Add(pp);
            }

            return new ObjectResult(result);
        }

        /// <summary>starts crawling</summary>
        /// <param name="configuration">crawler configuration</param>
        /// <response code="200">crawling started</response>
        /// <response code="400">invalid input</response>
        /// <returns>Session id.</returns>
        [HttpPost]
        [Route("/CrawlerApi/1.0.0/incite")]
        [SwaggerOperation("Incite")]
        [SwaggerResponse(200, type: typeof(string))]
        public async Task<IActionResult> Incite([FromBody] CrawlerConfiguration configuration)
        {
            var config = new Configuration
                         {
                             Depth = 1,
                             HostDepth = 1
                         };

            var crawler = new Crawler(config);

            var session = await crawler.InciteStart(
                              configuration.OwnerId,
                              configuration.Uris.Select(u => new Uri(u.Uri)));

            return new ObjectResult(session.SessionId);
        }

        private static SessionState HttpStateToSessionState(int state)
        {
            switch (state)
            {
                case 0:
                    return SessionState.NotStarted;
                case 200:
                    return SessionState.Done;
                default:
                    return SessionState.Error;
            }
        }

        private SessionState ToSessionState(CrawlerLib.Data.SessionState sessState)
        {
            switch (sessState)
            {
                case CrawlerLib.Data.SessionState.NotStarted:
                    return SessionState.NotStarted;
                case CrawlerLib.Data.SessionState.InProcess:
                    return SessionState.InProcess;
                case CrawlerLib.Data.SessionState.Done:
                    return SessionState.Done;
                case CrawlerLib.Data.SessionState.Error:
                    return SessionState.Error;
                default:
                    throw new ArgumentOutOfRangeException(nameof(sessState), sessState, null);
            }
        }
    }
}