<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DECTech.Tokyo" value="https://dectech-tokyo-nuget-server.azurewebsites.net/vUGqw2pO2nEXbxWOynSqLYnNQ2H9EGBrKBAem6WfNsZIH5p19rzBLl6gR6h3Zi5/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="local" value="true" />
  </disabledPackageSources>
</configuration>
